<div class="row" *ngIf="isAuthenticated">
  <div class="col">
    <a routerLink="/" routerLinkActive="active">
      <mat-toolbar class="darkOana">
        <mat-toolbar-row>
          <span>
            <img class="bluebird-logo"
                 src="http://bluebirdlights.com/images/logo.png"
                 alt="BlueBird logo">
          </span>
          <span class="example-spacer"></span>
          <i class="fas fa-sign-out-alt" (click)="signOut()"></i>
        </mat-toolbar-row>
      </mat-toolbar>
    </a>
  </div>
</div>
