
.board-item-dialog-input {
  width: 100%;
  background-color: lavenderblush ;
}

.board-item-dialog-content {
  width: 100%;
}

.board-item-dialog-input-textarea {
  width: 100%;
  min-height: 20%;
  max-height: 80%;
}

.board-item-textarea-description {
  min-height: 100px;
}

.text-input-half-width {
  width: 40%;
  height: 100%;
}

.board-item-dialog-footer {
  padding-top: 10px;
  width: 95%;
}
