<select [(value)]="users">
  <option value="" disabled selected>select a category</option>
  <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
</select>

<div class="row board-row" *ngFor="let userStory of userStories" >
  <!--Status: NEW -->
  <div class="col-sm-3">

    <app-board-card [boardItem]="userStory" [itemType]="'USERSTORY'" *ngIf="userStory.status.match(newStatus)"></app-board-card>

    <div *ngFor="let bug of userStory.bugList">
      <app-board-card [boardItem]="bug" [itemType]= "'BUG'" *ngIf="bug.status.match(newStatus)"></app-board-card>
    </div>

    <div *ngFor="let task of userStory.taskList">
      <app-board-card [boardItem]="task" [itemType]="'TASK'" *ngIf="task.status.match(newStatus)"></app-board-card>
    </div>

  </div>

  <!--Status: In Progress -->
  <div class="col-sm-3">

    <app-board-card [boardItem]="userStory"  [itemType]="'USERSTORY'"  *ngIf="userStory.status.match(inProgressStatus)"></app-board-card>

    <div *ngFor="let bug of userStory.bugList">
      <app-board-card [boardItem]="bug"  [itemType]= "'BUG'" *ngIf="bug.status.match(inProgressStatus)"></app-board-card>
    </div>

    <div *ngFor="let task of userStory.taskList">
      <app-board-card [boardItem]="task" [itemType]="'TASK'" *ngIf="task.status.match(inProgressStatus)"></app-board-card>
    </div>
  </div>

  <!--Status: In Review -->
  <div class="col-sm-3">

    <app-board-card [boardItem]="userStory" [itemType]="'USERSTORY'"  *ngIf="userStory.status.match(inReviewStatus)"></app-board-card>

    <div *ngFor="let bug of userStory.bugList">
      <app-board-card [boardItem]="bug" [itemType]= "'BUG'"  *ngIf="bug.status.match(inReviewStatus)"></app-board-card>
    </div>

    <div *ngFor="let task of userStory.taskList">
      <app-board-card [boardItem]="task" [itemType]="'TASK'" *ngIf="task.status.match(inReviewStatus)"></app-board-card>
    </div>
  </div>

  <!--Status: Done -->
  <div class="col-sm-3">

    <app-board-card [boardItem]="userStory" [itemType]="'USERSTORY'"  *ngIf="userStory.status.match(doneStatus)"></app-board-card>

    <div *ngFor="let bug of userStory.bugList">
      <app-board-card [boardItem]="bug" [itemType]= "'BUG'"  *ngIf="bug.status.match(doneStatus)"></app-board-card>
    </div>

    <div *ngFor="let task of userStory.taskList">
      <app-board-card [boardItem]="task" [itemType]="'TASK'"  *ngIf="task.status.match(doneStatus)"></app-board-card>
    </div>
  </div>
</div>
