.user-story-header{
  background-color: indianred;
}
.task-header{
  background-color: darkseagreen;
}
.bug-header{
  background-color: mediumpurple;
}
.delete-icon{
  float: right;
  margin-right: 7px;
  margin-bottom: 3px;
}
.fa-plus{
  margin: 3px;
  padding: 1px;
  border: 1px solid #021a40;
}

